/*
.single_gridview {
	width: 700px;
	margin: auto;
}

@media(max-width: 720px) {
	.single_gridview {
		width: 100%;
		margin: auto;
	}
}
*/
.bulk_table {
	width: 400px;
	margin: auto;
}
.table_height {
}
.table_height thead {
	float: left;
	width: 100%;
}
 .table_height tbody {
	float: left;
	overflow: auto;
	width: 100%;
	height: 400px;
}
.table_height table td:nth-child(1) {
	width: 30px;
}
.table_height table td:nth-child(2) {
	width: 60px;
}
.table_height table td:nth-child(3) {
	width: 80%;
}

.table_height table th:nth-child(1) {
	width: 30px;
}
.table_height table th:nth-child(2) {
	width: 60px;
}
.table_height table th:nth-child(3) {
	width: 81%;
}



table { 
  width: 100%; 
  border-collapse: collapse;
}
.single_gridview {
	margin: auto;
}
.num_size {
	width: 50px;
}

.div_align {
	text-align: center;
}
.navbar-header img {
	width: 70px;
	margin-top: -10px;
}
/* Zebra striping */
tr:nth-of-type(odd) { 
  background: #eee; 
}
th { 
  background: #333; 
  color: white; 
  font-weight: bold; 
}
td, th { 
  padding: 6px; 
  border: 1px solid #ccc; 
  text-align: left; 
}

@media only screen and (min-width: 700px) {
	.single_gridview {
		width: 700px;
	}
	.col-lg-8 {
		width: auto !important;
		margin-left: 10px;
	}

	.control-label {
		margin-right: 25px !important;
	}

	.site-login {
		padding-left: 36% !important;
	}

	.form-control {
		width: auto;
	}
}